body {
  padding: 0px;
  margin: 0px;
  background-color: #f2ece1;
}

.page {
  padding: 0 10%;
}

header {
  height: 490px;
  width: 100%;

  background-image:
    linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
    url(images/Hero-Image.png);

  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.logo {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  object-fit: contain;
  height: 100%;
}

nav {
  height: 15%;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 15px;
  font-family: Lexend;
  color: white;
  padding: 5px;
  background-image: linear-gradient(white, white);
  background-size: 0% 2px;  /* width: 0%, height: 2px */
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-size 0.3s ease;
}

nav a:hover {
  background-size: 100% 2px;
}

.anchors {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  width: 100%;
  height: 78%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text p {
  width: 70%;
  text-align: center;
  font-size: 25px;
  color: white;
  margin: 10px 0;
  font-family: Lexend;
}

.text h1 {
  font-family: "Funnel Display", sans-serif;
  color: white;
  font-size: 3rem;
  margin: 10px 0;
}

.text button {
  font-family: Lexend;
  font-size: 20px;
  margin: 10px;
  width: 30%;
  height: 40px;
  border-radius: 20px;
  border: 0 solid #808080;
  background-color: rgba(255, 255, 255, 0.4);
}

.procedural-element {
  display: flex;
  margin: 50px 0;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.seed-showcase {
  width: 40%;
  position: relative;
}

.seed-showcase img {
  position: absolute;
  inset: 0;
  top: 4rem;
  width: 90%;

  transform: rotate(85deg)
            translateY(0px);
  transition: transform 0.3s cubic-bezier(.13,.37,.34,.97);
}

.procedural-text {
  width: 50%;
}

.procedural-text h1 {
  font-family: "Funnel Display", sans-serif;
}

.procedural-text p {
  font-family: Lexend, sans-serif;
  margin: 10px 0;
  font-size: 16px;
}

#arti:hover {
  transform: rotate(50deg)
             translateY(100px);
}
#terra {
  left: 25px;
  transform: rotate(80deg)
            translateY(0px);
  transition: transform 0.3s cubic-bezier(.13,.37,.34,.97);
}
#terra:hover {
  transform: rotate(60deg)
            translateY(100px);
}

#luna {
  left: 50px;
  transform: rotate(75deg)
            translateY(0px);
  transition: transform 0.3s cubic-bezier(.13,.37,.34,.97);
}
#luna:hover {
  transform: rotate(60deg)
            translateY(100px);
}

.page_h1 {
  text-align: center;
  font-family: 'Funnel Display';
  margin: 0px 0px 40px 0px;
}

hr {
  margin: 8rem 0;
}

.news_card_layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.pg_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
  width: 33%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  background-color: #ebe6df;

  transform: translateY(0px);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
              box-shadow 0.4s ease;
}

.pg_card:hover {
  transform: translateY(-20px);
}

.pg_card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.pg_card h1 {
  font-family: "Funnel Display", sans-serif;
  width: 100%;
  text-align: left;
  margin: 15px 20px 0px 20px;
  font-size: 22px;
}

.pg_card p {
  font-family: Lexend;
  font-size: 16px;
  margin: 20px;
}

.bttn_div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card_bttn {
  font-family: Lexend, sans-serif;
  font-size: 13px;
  border-radius: 20px;
  border: 0 solid black;
  height: 30px;
  text-align: center;
  width: 40%;
  margin: 20px;
}

.shadow_image_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadow_image_text h1 {
  font-family: "Funnel Display", sans-serif;
  width: 100%;
  text-align: center;
  margin: 15px 20px 0px 20px;
  font-size: 22px;
}

.shadow_image_text p {
  font-family: Lexend;
  font-size: 15px;
  text-align: center;
  width: 50%;
  margin: 20px;
}

.shadow_image {
  display: flex;
  color: white;
  background-image:
  linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
  url(images/town.png);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  border-radius: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #4f6b3a;
  height: 250px;
  margin: 150px 0 0 0;
  padding: 0 15%;
  align-items: center;
}

.retra_fmain {
  width: 50%;
  height: 70%;
}

.retra_fmain h1 {
  font-family: "Funnel Display", sans-serif;
  font-size: 24px;
}

.svg {
  width: 25px;
  margin: 10px;

  transform: scale(1.0);
  transition: transform 0.2s cubic-bezier(.17,.41,.65,.87);
}

.svg:hover {
  transform: scale(1.5);
}

.retra_fmain p {
  font-family: Lexend, sans-serif;
  font-size: 16px;
  width: 70%;
}

.fifty_footer {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 70%;
}

.fifty_footer h1 {
  font-family: "Funnel Display", sans-serif;
  font-size: 24px;
  margin: 10px 0 20px 0;
}

.fifty_footer a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-family: Lexend, sans-serif;
  font-size: 13px;
  width: fit-content;
  background-image: linear-gradient(white, white);
  background-size: 0% 2px;  /* width: 0%, height: 2px */
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-size 0.3s ease;
}

.fifty_footer a:hover {
  background-size: 100% 2px;
}

.site_map {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.legal {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/*WIKI PAGE*/

.wiki_header {
  height: 100px;
  background-image:
  linear-gradient(
    rgba(0,0,0,0.45),
    rgba(0,0,0,0.45)
  ),
  url(images/nav.png);
  background-repeat: no-repeat;
  background-position: top;
  position: sticky;
  top: 0;
  z-index: 10;
}

.wiki_page {
  display: flex;
  flex-direction: row;
}

.anchor_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  width: 15%;
  background-color: #ebe6df;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  position: sticky;
  height: fit-content;
  top: 130px;
}

.anchor_menu span {
  font-family: Lexend, sans-serif;
}

.anchor_menu h1 {
  font-family: "Funnel Display", sans-serif;
  margin: 0;
  font-size: 26px;
  margin: 0 0 20px 0;
}

.parent_ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.anchor_menu a {
  text-decoration: none;
  padding: 0 6px;
  font-family: Lexend, sans-serif;
}

.children_anchors {
  padding: 0 0 0 20px;
  list-style-type: none;
}

.children_groups {
  margin: 0 0 10px 0;
}

.wiki_text {
  margin: 30px 0 0 0;
  width: 55%;
}

.wiki_card {
  padding: 20px;
  border: 1px solid grey;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid grey;
  border-radius: 5px;
}

.wiki_text h1 {
  font-family: "Funnel Display", sans-serif;
  font-size: 34px;
}

.wiki_text h2 {
  font-family: "Funnel Display", sans-serif;
  font-size: 24px;
}

.wiki_text p {
  font-family: Lexend, sans-serif;
  font-size: 15px;
}

.wiki_text li {
  font-family: Lexend, sans-serif;
  font-size: 15px;
}

.wiki_images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wiki_text td {
  width: 50%;
  font-family: Lexend, sans-serif;
  font-size: 15px;
  padding: 3px 50px;
  border-bottom: 1px solid grey;
}

.wiki_images {
  width: 30%;
}

.economy_images {
  width: 50%;
  margin: 30px 0 50px 0;
  padding: 5px;
  border: 1px solid grey;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid grey;
  border-radius: 5px;
}

.economy_images p {
  font-family: Lexend, sans-serif;
  margin: 0;
  padding: 5px;
}

.economy_images img {
  width: 100%;
}

/*FEEDBACK PAGE STYLE*/

.feedback_page {
  display: flex;
  flex-direction: row;
  padding: 0 15%;
  margin: 100px 0;
  height: 550px;
  justify-content: space-between;
}

.feedback_left {
  width: 48%;
  background-image:
  linear-gradient(
    rgba(0,0,0,0.25),
    rgba(0,0,0,0.25)
  ),
  url(images/king.png);
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: contain;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback_right {
  width: 48%;
}

.feedback_right h1 {
  font-family: "Funnel Display", sans-serif;
  font-size: 30px;
  margin: 0 0 20px 0;
}

.feedback_right form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.feedback_right button {
  width: 22%;
  height: 6%;
  margin: 20px 0 0 0;
  border-radius: 8px;
  border: 1px solid #808080;
  font-family: Lexend, sans-serif;
}

.form_label {
  font-family: Lexend;
  font-size: 18px;
  margin: 0 0 10px 0;
}

.half {
  width: 70%;
  height: 35px;
  margin: 0 0 20px 0;
}

.complaint, .half {
  font-family: Lexend, sans-serif;
  background-color: #ebe6df;
  border-radius: 15px;
  border: 0 solid black;
}

.complaint {
  width: 100%;
  height: 40%;
}

.feedback_left h1 {
  font-family: "Funnel Display", sans-serif;
  margin: 0 0 30px 20px;
  font-size: 35px;
  color: white;
}

.feedback_left p {
  color: white;
  font-family: Lexend, sans-serif;
  margin: 10px 20px;
  font-size: 25px;
}

.newsletter {
  margin: 0 15%;
  background-image:
  linear-gradient(
    rgba(0,0,0,0.45),
    rgba(0,0,0,0.45)
  ),
  url(images/nav.png);
  height: 200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
}

.newsletter_text {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}

.newsletter_text h1 {
  font-family: "Funnel Display", sans-serif;
  color: white;
  width: fit-content;
}

.newsletter_button {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.newsletter_button button {
  width: 30%;
  height: 20%;
  border-radius: 8px;
  border: 1px solid #808080;
  font-family: Lexend, sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
}

/*media quieries*/

@media (min-width: 675px) and (max-width: 975px) {
  /*FOR TEXT SIZES*/
  .procedural-text p {
    font-size: 12px;
  }

  .procedural-text h1 {
    font-size: 25px;
  }

  .pg_card h1 {
    font-size: 16px;
    margin: 8px 0 0 4px;
  }

  .pg_card p {
    font-size: 12px;
    margin: 4px;
  }

  .card_bttn {
    font-size: 8px;
  }

  .shadow_image_text p {
    font-size: 12px;
  }

  .retra_fmain p {
    font-size: 12px;
  }

  .retra_fmain h1 {
    font-size: 20px;
  }

  .site_map h1 {
    font-size: 18px;
  }

  .fifty_footer h1 {
    font-size: 18px;
    margin: 22px 0 20px 0;
  }

  .site_map a {
    font-size: 10px;
  }

  .legal a {
    font-size: 10px;
  }
}

@media (min-width: 550px) and (max-width: 675px) {
  /*FOR TEXT SIZES*/
  .procedural-text p {
    font-size: 9px;
  }

  .procedural-text h1 {
    font-size: 20px;
  }

  .pg_card h1 {
    font-size: 12px;
    margin: 10px 0 5px 4px;
  }

  .pg_card p {
    font-size: 10px;
    margin: 4px;
  }

  .card_bttn {
    font-size: 7px;
    margin: 10px;
  }

  .shadow_image_text p {
    font-size: 8px;
  }

  .retra_fmain p {
    font-size: 10px;
  }

  .retra_fmain h1 {
    font-size: 15px;
  }

  .site_map h1 {
    font-size: 16px;
  }

  .fifty_footer h1 {
    font-size: 16px;
  }

  .site_map a {
    font-size: 8px;
  }

  .legal a {
    font-size: 8px;
  }

  /*SITE DIMENSION DIFFERENCES*/

  .shadow_image {
    height: 250px;
  }

  .svg {
    width: 15px;
  }

  hr {
    margin: 5rem 0;
  }
}

@media (min-width: 540px) and (max-width: 675px) {
  /*FOR TEXT SIZES*/
  .procedural-text p {
    font-size: 9px;
  }

  .procedural-text h1 {
    font-size: 20px;
  }

  .pg_card h1 {
    font-size: 12px;
    margin: 10px 0 5px 4px;
  }

  .pg_card p {
    font-size: 10px;
    margin: 4px;
  }

  .card_bttn {
    font-size: 7px;
    margin: 10px;
  }

  .shadow_image_text p {
    font-size: 8px;
  }

  .retra_fmain p {
    font-size: 10px;
  }

  .retra_fmain h1 {
    font-size: 15px;
  }

  .site_map h1 {
    font-size: 16px;
  }

  .fifty_footer h1 {
    font-size: 16px;
  }

  .site_map a {
    font-size: 8px;
  }

  .legal a {
    font-size: 8px;
  }

  /*SITE DIMENSION DIFFERENCES*/

  .shadow_image {
    height: 250px;
  }

  .svg {
    width: 15px;
  }

  hr {
    margin: 5rem 0;
  }

  .pg_card {
    margin: 4px;
    padding: 4px;
  }
}

@media (min-width: 360px) and (max-width: 540px) {
  /*FOR TEXT SIZES*/
  .anchors a {
    font-size: 12px;
  }

  .text h1 {
    font-size: 2rem;
  }

  .text button {
    font-size: 13px;
  }

  .text p {
    font-size: 14px;
  }

  .procedural-text p {
    font-size: 8px;
  }

  .procedural-text h1 {
    font-size: 15px;
  }

  .pg_card h1 {
    font-size: 10px;
    margin: 10px 0 5px 4px;
  }

  .pg_card p {
    font-size: 8px;
    margin: 4px;
  }

  .card_bttn {
    font-size: 7px;
    margin: 10px;
  }

  .shadow_image_text p {
    font-size: 8px;
  }

  .retra_fmain p {
    font-size: 8px;
  }

  .retra_fmain h1 {
    font-size: 10px;
  }

  .site_map h1 {
    font-size: 12px;
  }

  .fifty_footer h1 {
    font-size: 10px;
  }

  .site_map a {
    font-size: 6px;
  }

  .legal a {
    font-size: 6px;
  }

  /*SITE DIMENSION DIFFERENCES*/

  .shadow_image {
    height: 250px;
  }

  .svg {
    width: 10px;
    margin: 5px;
  }

  hr {
    margin: 5rem 0;
  }

  .pg_card {
    margin: 4px;
    padding: 4px;
  }

  footer {
    height: 210px;
  }
}

@media (min-width: 340px) and (max-width: 470px) {
  .procedural-text p {
    font-size: 6px;
  }

  .pg_card h1 {
    font-size: 6px;
    margin: 10px 0 5px 4px;
  }

  .pg_card p {
    font-size: 4px;
    margin: 4px;
  }

  .card_bttn {
    font-size: 4px;
    margin: 10px;
    height: 13px;
  }

  .shadow_image_text h1 {
    font-size: 16px;
  }

  footer {
    height: 170px;
  }
}

@media (min-width: 675px) and (max-width: 800px) {
  /*FOR SIZE CHANGES*/
  .pg_card {
    padding: 4px;
  }

  .pg_card {
    margin: 4px;
  }

  .pg_card h1 {
    margin: 15px 0px 5px 4px;
  }

  hr {
    margin: 6rem 0;
  }

  .svg {
    width: 18px;
  }
}