body {
  padding: 0px;
  margin: 0px;
}

.page {
  padding: 0 10%;
}

header {
  height: 490px;
  width: 100%;

  background-image:
    linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
    url(images/page_images/Hero-Image.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  object-fit: contain;
  height: 100%;
}

nav {
  height: 15%;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 15px;
  font-family: Lexend;
  color: white;
  padding: 5px;
}

.anchors {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  width: 100%;
  height: 78%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text p {
  width: 70%;
  text-align: center;
  font-size: 25px;
  color: white;
  margin: 10px 0;
  font-family: Lexend;
}

.text h1 {
  font-family: "Funnel Display", sans-serif;
  color: white;
  font-size: 3rem;
  margin: 10px 0;
}

.text button {
  font-family: Lexend;
  font-size: 20px;
  margin: 10px;
  width: 30%;
  height: 40px;
  border-radius: 20px;
}

.procedural-element {
  display: flex;
  margin: 50px 0;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.seed-showcase {
  width: 40%;
  position: relative;
}

.seed-showcase img {
  position: absolute;
  inset: 0;
  top: 5rem;
  width: 100%;
  transform: rotate(85deg);
}

.procedural-text {
  width: 50%;
}

.procedural-text h1 {
  font-family: "Funnel Display", sans-serif;
}

.procedural-text p {
  font-family: Lexend, sans-serif;
  margin: 10px 0;
  font-size: 18px;
}

#arti:hover {
  transform: rotate(50deg);
  z-index: 2;
}
#terra {
  left: 25px;
  transform: rotate(80deg);
}
#luna {
  left: 50px;
  transform: rotate(75deg);
}

.page_h1 {
  text-align: center;
  font-family: 'Funnel Display';
  margin: 0px 0px 40px 0px;
}

hr {
  margin: 8rem 0;
}

.steps_card_layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.pg_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
  width: 33%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.pg_card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.pg_card h1 {
  font-family: "Funnel Display", sans-serif;
  width: 100%;
  text-align: left;
  margin: 15px 20px 0px 20px;
  font-size: 22px;
}

.pg_card p {
  font-family: Lexend;
  font-size: 12px;
  margin: 20px;
}

.shadow_image_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadow_image_text h1 {
  font-family: "Funnel Display", sans-serif;
  width: 100%;
  text-align: center;
  margin: 15px 20px 0px 20px;
  font-size: 22px;
}

.shadow_image_text p {
  font-family: Lexend;
  font-size: 15px;
  text-align: center;
  width: 50%;
  margin: 20px;
}

.shadow_image {
  display: flex;
  color: white;
  background-image:
  linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
  url(images/page_images/town.png);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  border-radius: 20px;
}

.buildings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 7rem 0;
}

.building_image {
  width: 70%;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.building_image img {
  border-radius: 20px;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.B_text {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  margin: 20px 10px;
  border-radius: 20px;
}

.B_text h1 {
  font-family: "Funnel Display", sans-serif;
  font-size: 26px;
  padding: 15px 0 0 15px;
}

.B_text p {
  font-family: Lexend;
  font-size: 20px;
  padding: 15px;
}

.B_L_card {
  display: flex;
  flex-direction: row-reverse;
}

.B_R_card {
  display: flex;
  flex-direction: row;
}